# Ignore everything
*

# Unignore all directories (so you can traverse them)
!*/

# Unignore all files with extensions
!**/*.*

# Unignore Makefiles anywhere
!**/Makefile

# Ignore all obj directories and their contents
**/obj/

# Ignore all Vim swap files, anywhere
**/*.swp
